button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	color: rgba(0, 0, 0, .8);
	@include font-size(9.75);
	line-height: 1;
    padding: 0.5rem 1rem;
    border: 1px solid #404040;
	border-radius: 3px;
	background: $color__background-button;
    font-weight: bold;
    background: none;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}
