html {
	box-sizing: border-box;
	font-size: calc(16px + 6 * ((100vw - 320px) / 680));
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body;
	/* Fallback for when there is no custom background color defined. */
}

header.site-header {
    display: flex;
	.site-branding {
		float: left;
		//font-family: 'Montserrat Alternates', sans-serif;
		font-family: 'Reem Kufi', sans-serif;
		display: flex;
		align-items: flex-end;
		line-height: 1;
		margin-left: -20px;

		.site-title {
			font-size: 1.8em;
			margin: 0;

			a {
				text-decoration: none;
				color: #1a1a1a;
				padding: 20px;
				display: block;
			}
		}

		@media screen and (max-width: 37.5em) {
			width: 100%;
			align-items: center;
			justify-content: center;
			margin: auto;
		}
	}
	.container {
		flex:1;
	}
}

.container {
	max-width: 1800px;
	margin: auto;
	padding: 0 20px;
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

@import "tables";
@import "grids 